In [42]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv('dataset.csv',delimiter=";")

In [44]:
df.head().T

,0,1,2,3,4
Patient age quantile,17,11,9,13,14
SARS-Cov-2 exam result,negative,negative,negative,negative,negative
Hematocrit,0.236515,0.991838,0.190738,1.014726,0.740064
Hemoglobin,-0.02234,0.792188,-0.147652,0.854844,0.854844
Platelets,-0.517413,0.072992,-0.668155,-0.178244,0.361914
Mean platelet volume,0.010677,-0.55029,1.020415,0.796029,-0.55029
Red blood Cells,0.102004,0.542763,-0.127191,0.489872,0.436981
Lymphocytes,0.318366,0.045436,0.002791,-0.730707,-0.227493
Mean corpuscular hemoglobin concentration (MCHC),-0.95079,-0.452899,-1.249524,-0.353319,0.642463
Leukocytes,-0.09461,-0.211488,-1.132592,-0.075131,0.105751
Basophils,-0.223767,-0.834685,0.387152,2.525365,-0.529226
Mean corpuscular hemoglobin (MCH),-0.292269,0.334989,-0.083183,0.544077,0.596348
Eosinophils,1.482158,-0.70909,-0.70909,0.217977,-0.371974
Mean corpuscular volume (MCV),0.166192,0.606842,0.566783,0.767079,0.386517
Monocytes,0.357547,-0.220244,2.012129,0.068652,0.121178
Red blood cell distribution width (RDW),-0.625073,0.171035,0.613318,0.171035,-0.713529

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 16 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Patient age quantile                              519 non-null    int64
 1   SARS-Cov-2 exam result                            519 non-null    object
 2   Hematocrit                                        518 non-null    float64
 3   Hemoglobin                                        518 non-null    float64
 4   Platelets                                         518 non-null    float64
 5   Mean platelet volume                              509 non-null    float64
 6   Red blood Cells                                   518 non-null    float64
 7   Lymphocytes                                       518 non-null    float64
 8   Mean corpuscular hemoglobin concentration (MCHC)  518 non-null    float64
 9   Leukocytes                                        518 non-null    float64
 10  Basophils                                         518 non-null    float64
 11  Mean corpuscular hemoglobin (MCH)                 518 non-null    float64
 12  Eosinophils                                       518 non-null    float64
 13  Mean corpuscular volume (MCV)                     518 non-null    float64
 14  Monocytes                                         518 non-null    float64
 15  Red blood cell distribution width (RDW)           518 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 65.0+ KB

In [46]:
df.isnull().sum()

Patient age quantile                                 0
SARS-Cov-2 exam result                               0
Hematocrit                                           1
Hemoglobin                                           1
Platelets                                            1
Mean platelet volume                                10
Red blood Cells                                      1
Lymphocytes                                          1
Mean corpuscular hemoglobin concentration (MCHC)     1
Leukocytes                                           1
Basophils                                            1
Mean corpuscular hemoglobin (MCH)                    1
Eosinophils                                          1
Mean corpuscular volume (MCV)                        1
Monocytes                                            1
Red blood cell distribution width (RDW)              1
dtype: int64

In [47]:
df.describe(include='all')

,Patient age quantile,SARS-Cov-2 exam result,Hematocrit,Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,Mean corpuscular hemoglobin concentration (MCHC),Leukocytes,Basophils,Mean corpuscular hemoglobin (MCH),Eosinophils,Mean corpuscular volume (MCV),Monocytes,Red blood cell distribution width (RDW)
count,519.000000,519,518.000000,518.000000,518.000000,509.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
unique,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,11.899807,NaN,-0.035010,-0.045927,-0.128215,0.041094,0.023144,-0.060255,-0.054971,-0.083538,-0.088138,-0.104475,-0.121497,-0.095275,-0.033613,0.008125
std,5.666877,NaN,0.984669,0.993799,1.018598,1.021966,1.025655,1.010504,1.035329,1.053666,0.877017,1.130581,0.990699,1.100198,1.019908,0.933132
min,0.000000,NaN,-3.608765,-3.593731,-2.313752,-2.457575,-3.635631,-1.865070,-5.431808,-1.928470,-1.140144,-5.937604,-0.835508,-5.101581,-2.163721,-1.509637
25%,8.000000,NaN,-0.576029,-0.711556,-0.781211,-0.662483,-0.567950,-0.779749,-0.552476,-0.759002,-0.758320,-0.501356,-0.751229,-0.534842,-0.692982,-0.625073
50%,13.000000,NaN,-0.083925,-0.022340,-0.234772,-0.101517,0.022667,-0.133674,-0.054585,-0.322799,-0.223767,0.073631,-0.456253,0.066045,-0.128323,-0.094334
75%,17.000000,NaN,0.694287,0.651212,0.374475,0.683835,0.697029,0.520930,0.642463,0.338114,0.387152,0.544077,0.133698,0.566783,0.541389,0.347948
max,19.000000,NaN,2.662704,2.671868,9.532034,3.713052,3.028643,3.764100,2.932760,4.522042,4.663579,2.059952,8.350876,3.150596,4.533397,5.124598

In [48]:
col_list=[]
for i in range(len(df.columns)):
    
    col_list.append((''.join(df.columns[i].split()).lower()))

df.columns=col_list
df.columns

Index(['patientagequantile', 'sars-cov-2examresult', 'hematocrit',
       'hemoglobin', 'platelets', 'meanplateletvolume', 'redbloodcells',
       'lymphocytes', 'meancorpuscularhemoglobinconcentration(mchc)',
       'leukocytes', 'basophils', 'meancorpuscularhemoglobin(mch)',
       'eosinophils', 'meancorpuscularvolume(mcv)', 'monocytes',
       'redbloodcelldistributionwidth(rdw)'],
      dtype='object')

In [49]:
df["meanplateletvolume"].fillna(df["meanplateletvolume"].median(),inplace=True)

In [50]:
df=df.dropna()

In [51]:
df.isnull().sum()

patientagequantile                              0
sars-cov-2examresult                            0
hematocrit                                      0
hemoglobin                                      0
platelets                                       0
meanplateletvolume                              0
redbloodcells                                   0
lymphocytes                                     0
meancorpuscularhemoglobinconcentration(mchc)    0
leukocytes                                      0
basophils                                       0
meancorpuscularhemoglobin(mch)                  0
eosinophils                                     0
meancorpuscularvolume(mcv)                      0
monocytes                                       0
redbloodcelldistributionwidth(rdw)              0
dtype: int64

In [54]:
df['sars-cov-2examresult'].value_counts()

negative    360
positive    158
Name: sars-cov-2examresult, dtype: int64

In [55]:
df['sars-cov-2examresult']=df['sars-cov-2examresult'].str.lower()

In [57]:
df['sars-cov-2examresult']=(df['sars-cov-2examresult']=='negative').astype(int)

In [58]:
df['sars-cov-2examresult']

0      1
1      1
2      1
3      1
4      1
      ..
514    0
515    1
516    0
517    1
518    0
Name: sars-cov-2examresult, Length: 518, dtype: int32

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [61]:
X_train, X_test, y_train, y_test = train_test_split(df, df['sars-cov-2examresult'], test_size = 0.2, random_state = 42)

In [62]:
clss = LogisticRegression(random_state = 42)
clss.fit(X_train, y_train)
print(clss.score(X_test,y_test))
# Predicting the Test set results
y_pred = clss.predict(X_test)

y_pred

1.0

array([1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0])

In [63]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)

AccScore = accuracy_score(y_test, y_pred, normalize=False)
print('Accuracy Score is : ', AccScore)

cm

Accuracy Score is :  104

array([[36,  0],
       [ 0, 68]], dtype=int64)

In [64]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.0

In [65]:
from sklearn.svm import SVC

In [66]:
svc = SVC()
svc.fit(X_train, y_train
       )

sc = svc.score(X_test,y_test)

print('score = ' , sc)

score =  0.9519230769230769

In [67]:
from sklearn.tree import DecisionTreeClassifier

In [68]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=4, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,max_depth=5, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5,
                       random_state=100)

In [69]:
y_pred = clf_gini.predict(X_test)
y_pred

array([1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0])

In [70]:
y_pred_en = clf_entropy.predict(X_test)
y_pred_en

print ("Accuracy for gini is ", accuracy_score(y_test,y_pred)*100)

print ("Accuracy for entropy is ", accuracy_score(y_test,y_pred_en)*100)

Accuracy for gini is  100.0
Accuracy for entropy is  100.0